<div class="title1 section-t-space">
    <h4>exclusive products</h4>
    <h2 class="title-inner1">special products</h2>
</div>
<section class="section-b-space p-t-0">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="theme-tab">
                    <ul class="tabs tab-title">
                        <li class="current">
                            <a>New Products</a>
                        </li>
                        <li class="">
                            <a>Best Sellers</a>
                        </li>
                    </ul>
                    <div class="tab-content-cls">
                        <div class="tab-content">
                            <div class="no-slider row">
                                <div class="product-box">
                                    Show Item
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="no-slider row">
                                <div class="product-box">
                                    Show Item
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>